.auth {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  gap: 30px;
  > div {
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--Light_grey, #eaeaea);
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .auth {
    flex-wrap: wrap;
    > div {
      width: 100%;
    }
  }
}
